.section0{
    height: 450px;
    background-color: red;
}
body {
    overflow-x: hidden;
}
.m-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #fff;
    z-index: 1000;
    transition: all 1s;
}